#input-label{
  padding-top: 20px;
  padding-bottom: 25px;
  width: 700px;
  border-radius: 2px;
  background-color: #fafafa;
  margin: 0 auto
}
.ant-row{
    width: 300px
}

.ant-input {
    width: 270px;
    margin-left: 0px;
}
.ant-form-item-label{
    text-align: left;
    padding-left: 5%;

}

#error {
    display: flex;
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
    width: 585px;
    height: 35px;
    margin-left: 7%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 10px;
    
  
    border-radius: 2px;
    border: solid 1px #ff9191;
    background-color: #ffe6e6;
}

#errorLogo{

  margin-right: 5px;
  width: 14px;
  height: 14px;
  background-color: #f35f5f;
  border-radius: 50%
}
#errorMsg{
    margin-top: -3px;  
}

#buttons{
    margin-top: 20px;
}

#buttons #btn{
    width: 87px;
    margin: 2%;
    
}
