#info{
    width: 60%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 5%; 
}

#info #addLogo{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background:#0092b8;
    border-radius: 50%
}
#info #subLogo{
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background:#c62674;
    border-radius: 50%
}
#info h2{
   padding-top: 3% 
}