.logo {
    padding-top: 15px;
    display: flex; 
    justify-content:space-evenly;
    height: 64px;
    background-color: #002140;
}

.logo img { 
    width: 40px;
    height: 40px;
    background: white;
}

.logo p {
    padding-top: 10px;
    margin-left: -10px;
    font-family: Sans-serif;
    font-size: 16px;
    color: #ffffff;
}
main 
{
    text-align: center;
    min-height: 100px;
}

footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
}

